:root 
{--main-bg-color: #FFFFFF;
--iris-btn-background: #4D5AE5;
--main-text-color: #2E2F42;
--slate-contacts-color: #434455;
--hover-ocean-color: #404BBF;
--cloud-suptitle-light: #F4F4FD;}

body 
{font-family: "Roboto", sans-serif;
    background-color: var(--main-bg-color);
    color: var(--slate-contacts-color);
font-style: normal;}

.link {text-decoration: none;}
.list {list-style: none;}

    /* ========= HEADER ========= */
.logo 
{font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
     letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--iris-btn-background);}

    .logo-span
    {font-family: 'Raleway', sans-serif;
        font-weight: 800;
        font-size: 18px;
        line-height: 1.17;
          letter-spacing: 0.03em;
        text-transform: uppercase;    
        color: var(--main-text-color);}
.nav-list
{list-style: none;}

 .nav-link 
 {  font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--main-text-color);}

    .nav-link:hover,
        .nav-link:focus 
        {color: var(--hover-ocean-color);}

    .page-address
    {font-style: normal;}
    
    .header-contacts
    {   font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: var(--slate-contacts-color);}

.header-contacts:hover,
.header-contacts:focus 
{color: var(--hover-ocean-color);}

        /* ========= HERO ========= */
      .hero-section
        {background-color: var(--main-text-color);}

     .hero-title 
        {font-weight: 700;
            font-size: 56px;
            line-height: 1.07;
            text-align: center;
            letter-spacing: 0.02em;
            color: var(--main-bg-color);}

    .hero-btn
      {font-family: "Roboto", sans-serif;
        font-weight: 500;
         font-size: 16px;
        line-height: 1.5;
              letter-spacing: 0.04em;
        color: var(--main-bg-color);
           background-color: var(--iris-btn-background);
          cursor: pointer;
     } 
        
    .hero-btn:hover,
        .hero-btn:focus
        {
          background-color: var(--hover-ocean-color);} 

        /* ========= ADVANTAGES ========= */
        .advantages-list 
        {list-style: none;}

        .advantages-title
        {font-weight: 500;
          font-size: 20px;
          line-height: 1.2;
          letter-spacing: 0.02em;      
          color: var(--main-text-color);}

          .advantages-suptitle
          {font-weight: 400;
            font-size: 16px;
            line-height: 1.5;
           letter-spacing: 0.02em;
           color: var(--slate-contacts-color);}

           /* ========= ACTIVITY ========= */
.activity-title
{font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--main-text-color);}

.activity-list
{list-style: none;}

 /* ========= OUR TEAM ========= */
.team-section {background-color: var(--cloud-suptitle-light);}

.team-title
{font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--main-text-color);}

  
  .team-item {background-color: var(--main-bg-color);}

  .team-name
  {font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    
    letter-spacing: 0.02em;
      color: var(--main-text-color);}

      .team-suptitle
      {font-weight: 400;
        font-size: 16px;
        line-height: 24px;
              
        letter-spacing: 0.02em;
              color: var(--slate-contacts-color);}

/* ========= FOOTER ========= */
.footer-section
{background-color: var(--main-text-color);}

.logo
{font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--iris-btn-background);}

  .footer-logo
  {font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
         letter-spacing: 0.03em;
    text-transform: uppercase;
      color: var(--cloud-suptitle-light);}

  .footer-suptitle
  {font-weight: 400;
    font-size: 16px;
    line-height: 1.5; 
    letter-spacing: 0.02em;
    color: var(--cloud-suptitle-light);}

    /* ========= PORTFOLIO ========= */

   .portfolio-btn
    {font-family: "Roboto", sans-serif;
      font-weight: 500;
      font-size: 16px;
      line-height: 1.5;
      letter-spacing: 0.04em;
          color: var(--iris-btn-background);
        background-color: var(--cloud-suptitle-light);
      cursor: pointer;}

      .portfolio-btn:hover,
      .portfolio-btn:focus
      {background-color: var(--hover-ocean-color);
        color: var(--main-bg-color);      }

.portfolio-image-list
{list-style: none;}

.portfolio-image-title
{font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--main-text-color);}

  .portfolio-image-suptitle
  {font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
      letter-spacing: 0.02em;
      color: var(--slate-contacts-color);}